<div class="container-fluid div-container">
  <app-navbar [current]="4" [navPills]="nav" [id]="'configNav'" [type]="0"></app-navbar>
  <div class="container-fluid" style="padding: 0">
    <div class="nav-left igx-card">
      <app-nav-vertical [id]="'configNavList'" [items]="listItem"></app-nav-vertical>
    </div>

    <div class="content-right">

      <div class="media-info">
        <div class="igx-card carousel-config">
          <div class="igx-card-title">
            <p>宣传图片配置</p>
          </div>
          <div class="carousel-info">
            <div class="carousel-info-item">
              <img src="http://img5.imgtn.bdimg.com/it/u=3014666127,3555732942&fm=27&gp=0.jpg"
                   class="carousel-info-item-img">
            </div>
            <div class="carousel-info-item">
              <img src="http://img5.imgtn.bdimg.com/it/u=3014666127,3555732942&fm=27&gp=0.jpg"
                   class="carousel-info-item-img">
            </div>
            <div class="carousel-info-item">
              <img src="http://img5.imgtn.bdimg.com/it/u=3014666127,3555732942&fm=27&gp=0.jpg"
                   class="carousel-info-item-img">
            </div>
            <div class="carousel-info-item">
              <img src="http://img5.imgtn.bdimg.com/it/u=3014666127,3555732942&fm=27&gp=0.jpg"
                   class="carousel-info-item-img">
            </div>
            <div class="carousel-info-item">
              <img src="http://img5.imgtn.bdimg.com/it/u=3014666127,3555732942&fm=27&gp=0.jpg"
                   class="carousel-info-item-img">
            </div>
            <div class="carousel-info-item">
              <img src="http://img5.imgtn.bdimg.com/it/u=3014666127,3555732942&fm=27&gp=0.jpg"
                   class="carousel-info-item-img">
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="container-fluid footer-container-dark">
    <app-footer-light class="footer-dark footer-stacked"></app-footer-light>
  </div>
</div>
