<div class="container-fluid div-container">
  <app-navbar [current]="4" [navPills]="nav" [id]="'configNav'" [type]="0"></app-navbar>
  <div class="container-fluid" style="padding: 0">
    <div class="nav-left">
      <app-nav-vertical [id]="'configNavList'" [items]="listItem"></app-nav-vertical>
    </div>

    <div class="content-right">

    </div>
  </div>
  <div class="container-fluid footer-container-dark">
    <app-footer-light class="footer-dark footer-stacked"></app-footer-light>
  </div>
</div>
