<footer>
  <p>智慧医院管理系统</p>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
  <p><i class="far fa-copyright"></i>
    All Right Deserved. ZCT@<a href="www.cqjtu.edu.cn">ChongQiong JiaoTong University.</a> </p>

</footer>
