<nav class="navbar navbar-expand-lg navbar-dark bg-nav">
  <a class="navbar-brand" href="#">
    <i class="fas fa-h-square"></i>
    <i class="fab fa-cloudsmith"></i>
    智慧医院智能后台
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navbar">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">监控面板<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/doctor" routerLinkActive="active">医生管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/car" routerLinkActive="active">急救车管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pay" routerLinkActive="active">收费系统</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">个人中心</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="#" class="user-info" data-toggle="tooltip"
         data-placement="left" title="前往个人中心"
         data->
        <i class="fas fa-user-secret"></i> 程飘</a>
      <input class="form-control mr-sm-2" type="search" placeholder="输入搜索内容" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>
