@import "~igniteui-angular/styles/igniteui-angular.css";
.main-div {
  padding-left: 0;
  padding-right: 0;
  height: calc(100% - 100px);
}
.nav-left {
  width: 10%;
  height: calc(100% - 57px);
  padding-top: 20px;
  border-right: 1px solid #eeeeee;
  box-shadow: #f4f4f4 0 0 10px;
  float: left;
}
.content-right {
  width: 90%;
  height: calc(100% - 57px);
  float: left;
  margin-top: 20px;
}

.content-doctor-list {
  width: 30%;
  height: 100%;
  float: left;
  overflow: hidden;
  overflow-y: scroll;
  margin-left: 10px;
  border-right: 1px solid #eee;
  box-shadow: #f4f4f4 0 0 10px 0;
}

.content-doctor-info {
  width: 60%;
  height: 100%;
  float: left;
  margin-left: 10px;
  position: relative;
}
.doctor-card {
  position: absolute;
  width: 80%;
  height: 100%;
  left: 10%;
  right: 10%;
}
.add-doctor-card {
  width: 40%;
  margin-left: 1%;
  padding: 20px;
}
