<div class="container-fluid div-container">
  <app-navbar [current]="1"></app-navbar>
  <div class="container-fluid main-div">
    <div class="nav-left">
      <app-nav-vertical></app-nav-vertical>
    </div>
    <div class="content-right">
      <div id="checkDoctor" class="display animated fadeIn">
        <div class="content-doctor-list">
          <app-list-viw></app-list-viw>
        </div>
        <div class="content-doctor-info">
          <div class="doctor-card">
            <app-doctor-info></app-doctor-info>
          </div>
        </div>
      </div>

      <div id="addDoctor" class="dismiss animated zoomIn" style="padding: 5px">
        <app-add-doctor></app-add-doctor>
      </div>

    </div>

  </div>

  <div class="container-fluid footer-container-dark">
    <app-footer-light class="footer-dark footer-stacked"></app-footer-light>
  </div>
</div>

