<div class="container-fluid find-pwd">
  <div class="container">
    <div class="input-div">
      <div class="input-head">
        <h2>
          <i class="fas fa-unlock"></i>
          找回密码
        </h2>
        <small>医疗信息化服务解决方案</small>
      </div>
      <hr>
      <div class="input-form">
        <form>
          <div class="form-group">
            <label for="InputEmail1">用户名</label>
            <input type="text" class="form-control" id="InputEmail1"
                   [(ngModel)]="username"
                   name="username"
                   aria-describedby="emailHelp"
                   placeholder="输入用户名" required>
            <div [hidden]="nameValid"
              class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>{{validStr}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <small id="emailHelp" class="form-text text-muted">用户名可以是身份证号、手机号或者电子邮箱地址.</small>
          </div>
          <button class="btn btn-primary" (click)="submit()">提交</button>
          <!--for display navigate component view-->
          <!--<router-outlet></router-outlet>-->
        </form>
      </div>
    </div>
  </div>
  <app-footer-light class="footer-light"></app-footer-light>
</div>
