@import "~igniteui-angular/styles/igniteui-angular.css";
.carousel-container {
  margin: 0;
  padding: 0;
  height: 200px;
  overflow: hidden;
}
.main-container {
  width: 100%;
  height: calc(100% - 100px);
  padding: 0;
  overflow: hidden;
}
img {
  height: 200px;
}
.info-card {
  width: 60%;
  margin-left: 20%;
}
.key {
  font-weight: bold;
  font-size: 10px;
}
.value {
  margin-left: 10px;
  font-size: 14px;
}
.info-content {

}
.card-container {
  width: 100%;
  height: calc(100% - 260px);
  overflow-y: scroll;
  padding: 10px;
}
