.info-card {
  width: 100%;
  padding-bottom: 20px;
}
.info-card hr {
  margin: 0;
}
.info-row {
  height: 40px;
  margin: 5px;
}
.tip-label {
  line-height: 40px;
  text-align: end;
  padding-left: 10px;
  color: #454545;
  font-size: 12px;
}
.info-item {
  line-height: 40px;
  border: 1px solid #eee;
  background-color: #f4f4f4;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 14px;
}
.profile {
  width: 100px;
  height: 150px;
  position: absolute;
  top: 50px;
  right: 0;
  margin: 5px;
  border-radius: 5px;
}
