<div class="card info-card">
  <div class="info-row">
    <h3 class="text-center">基本信息卡</h3>
  </div>
  <hr>
  <div class="row info-row">
    <div class="col-2"><label class="text-right tip-label">姓名:</label></div>
    <div class="col-3"><p class="info-item">程飘</p></div>
    <div class="col-2"><label class="text-right tip-label">性别:</label></div>
    <div class="col-3"><p class="info-item">男</p> </div>
  </div>
  <div class="row info-row">
    <div class="col-2"><label class="text-right tip-label">民族:</label></div>
    <div class="col-3"><p class="info-item">汉族</p></div>
    <div class="col-2"><label class="text-right tip-label">电话号码:</label></div>
    <div class="col-3"><p class="info-item">12312341234</p> </div>
  </div>
  <div class="row info-row">
    <div class="col-2"><label class="text-right tip-label">出生日期:</label></div>
    <div class="col-3"><p class="info-item">1993/10/23</p></div>
    <div class="col-2"><label class="text-right tip-label">身份证:</label></div>
    <div class="col-3"><p class="info-item">123123123412341234</p> </div>
  </div>
  <div class="row info-row">
    <div class="col-1"><label class="text-right tip-label">科室:</label></div>
    <div class="col-3"><p class="info-item">咳咳咳咳咳咳科</p></div>
    <div class="col-2"><label class="text-right tip-label">联系地址:</label></div>
    <div class="col-6"><p class="info-item">收拾收拾是收拾收拾是收拾收拾是收拾收拾是</p> </div>
  </div>
  <img src="http://img.hb.aicdn.com/af34917c60956b188d242df1846fcf0959275980137d0-X5bRx4_fw658"
       class="profile">
</div>
