<footer>
  <p class="text-primary"><strong>智慧医院管理系统</strong></p>
  <ul class="nav justify-content-center footer-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">关于我们</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">帮助</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">联系我们</a>
    </li>
  </ul>
  <small><i class="far fa-copyright"></i>All Right Deserved.</small>
  <small><i class="fab fa-git-square"></i>ZCT@ChongQing JiaoTong University</small>
</footer>
