<footer>
  <p class="text-primary">
    <strong>
      <a routerLink="/home" routerLinkActive="active">智慧医院管理系统</a>
    </strong>
  </p>
  <ul class="nav justify-content-center footer-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">关于我们</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/help" routerLinkActive="active">帮助</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">联系我们</a>
    </li>
  </ul>
  <small><i class="far fa-copyright"></i>All Right Deserved.</small>
  <small><i class="fab fa-git-square"></i>ZCT@ChongQing JiaoTong University</small>
</footer>
