<div class="container-fluid home-container">
  <app-navbar [current]="0" [navPills]="navs"
              [type]="0"
              id="'homeNav'"></app-navbar>
  <div class="container-fluid in-time-chart">
    <app-in-time-chart></app-in-time-chart>
  </div>
  <div class="container-fluid chart-bg">
    <div class="container chart-div">
      <app-chat-doctor class="chart"
                       chartId="chart1"
                       title="当班医生监控"
                       subtitle="在班医生189人"
                       legend="{{legend1Str}}"
                       data="{{data1Str}}">
      </app-chat-doctor>
      <app-chat-doctor class="chart"
                       chartId="chart2"
                       title="在班救护车监控"
                       subtitle="可用救护车23辆"
                       legend="{{legend2Str}}"
                       data="{{data2Str}}">
      </app-chat-doctor>
    </div>
  </div>
  <div class="container-fluid chart-bg">

  </div>


  <div class="container-fluid" style="background-color: #252B46">
    <app-footer-light class="footer-dark"></app-footer-light>
  </div>


</div>
